# Required for generating feedback from the OpenAI's API (https://platform.openai.com/account/api-keys)
OPENAI_API_KEY=

# Optional: for rate-limiting the demo app (https://demo.useliftoff.com/) using Upstash (https://upstash.com/blog/upstash-ratelimit)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
